.element {
  border-radius: 5px;
  border: 1px #062bfd solid;
  width: 150px;
  height: 150px;
  margin: 2%;

  display: flex;
  flex-direction: column;

  cursor: pointer;
}
.element:hover {
  border: 2px #036885 solid;
}

.element .element_img {
  flex: 1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: url("../formula.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.element .element_detail {
  border-top: 2px #00a7c4 solid;
  height: 50px;
  margin: 0 2px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 2px 1px 4px;
}

.element .element_detail div {
  font-size: 14px;
  display: inline;
}

.element .element_detail div div {
  margin-left: 10px;
  font-size: 12px;
}

.element .element_detail div .fontcss {
  font-size: 21px;
  margin-left: 5px;
  margin-top: 2px;
  color: #036885;
}
